
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>DobraEspacial</title>
    <meta name="viewport" content="width=device-width" />
    <title>_DobraEspacial</title>
</head>
<body>
    <h1>View DobraEspacial</h1>
    <div> 
    </div>
</body>
</html>
