
@{
    Layout = null;
    string nome = "Jefson Alves Matos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>@nome</h1>
        <h2>Seu nome tem @nome.Length letras</h2>
        <form action="/ListaCompras/Index/">
            <label>Informe a quantidade</label>
            <input name="quantidade" type="text"/>
            <button>Enviar</button>

        </form>
        <ul>
        @for (int i = 0; i < ViewBag.Quantidade; i++)
        {
            <li>Item @(i+1)</li>
        }
        </ul>
    </div>
</body>
</html>
