
@model IEnumerable<MVCComplet.Models.Pessoa>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Genero</th>
                <th>Saldo</th>
            </tr>
            @{ foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.DataNascimento.ToShortDateString()</td>
                        <td>@item.Genero</td>
                        <td>@item.Saldo</td>
                        
                    </tr>
                }
             }
        </table>
    </div>
</body>
</html>
