@model IEnumerable<Photo>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@Url.Action("ObterImagem", "Photos", new { id = item.Id })">
                    <div class="caption">
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Button</a>
                            <a href="#" class="btn btn-default" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    
    </div>
</div>



